/**
 * @name MishaClear
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --main-color: #0059ff;
  --hover-color: #0000a1;
  --success-color: #00FFF0;
  --danger-color: #FF0046;
  --url-color: #B200F4;
  --background-image: url('https://i.imgur.com/NibZqVQ.gif');
  --background-shading: 0%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgb(0,0,255,0.1);
  --user-popout-image: url('https://i.imgur.com/NibZqVQ.gif');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://i.imgur.com/NibZqVQ.gif');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.imgur.com/wFf1Cgo.gif');
  --home-position: center;
  --home-size: 90px;
  --channel-unread: #ff006a;
  --channel-color: rgb(0, 238, 255);
  --muted-color: rgb(0,13,255,0.26);
  --online-color: #29f900;
  --idle-color: #fbff0a;
  --dnd-color: #ff0055;
  --streaming-color: #6F1EFA;
  --offline-color: #808080;
  --main-font: Segoe UI;
  --code-font: Fira Code;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0, 0, 0, 0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #29f900;
  --rs-idle-color: #fbff0a;
  --rs-dnd-color: #ff0055;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #6F1EFA;
  --rs-phone-visible: block;
  --HSL-server-icon-size: 55px;
  --HSL-server-spacing: 10px;
}

/* Any custom CSS below here */

.name-2m3Cms{
  line-height: 30;
}

.numberBadge-2s8kKX{
background-color: #0000ff !important;
}

.header-2RyJ0Y{
text-align: center;
}

.item-PXvHYJ themed-OHr7kt{
text-align: center;
}

.brand-1Zl8en.item-PXvHYJ, .themed-OHr7kt.item-PXvHYJ {
color: #6bbcff;
}

.button-14-BFJ{
color: #6bbcff;
}

.markup-2BOw-j {
color: #c2eefb;
}

.lookBlank-3eh9lL {
color: #6bbcff;
}

.winButtonMinMax-PBQ2gm {
background-color: #000000;
color: #fa004b;
}

.winButtonClose-1HsbF- {
background-color: #000000;
color: #fa004b;
}

.executedCommand-2GE3w2 .applicationName-1-Uq7y, .executedCommand-2GE3w2 .commandName-1klrjB, .executedCommand-2GE3w2 .username-1A8OIy, .repliedMessage-VokQwo .username-1A8OIy, .threadMessageAccessory-1pYyA- .username-1A8OIy {
opacity: 1 !important;
}

.channelName-2YrOjO{
color: #6bbcff;
}

.markup-2BOw-j{
color: #bdfafc;
}

.membersGroup-2eiWxl {
  padding: 15px 8px 0 16px;
  height: 30px;
}

.subtext-2HDqJ7 {
  line-height:initial;
}

.mask-1FEkla {
  height: 110%;
}

.nameAndDecorators-3ERwy2{
  height: 25px;
}

.content-1U25dZ{
  padding-left: 5px;
}

.roleName-2ZJJYR{
  height: 100%;
}

.option-2eIyOn{
  background-color: #000020;
}